*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

body {
    line-height: 1.5;
    font-family: "Noto Sans TC", sans-serif;
    // background: #F8F8F8;
}

.container {
    width: 1296px;
    margin: 0 auto;
}


/*------------表單*/

.list {
    padding-top: 120px;
    
}

.list a {
    display: block;
    margin-bottom: 64px;
    font-size: 20px;
    font-weight: 700;
    color: #868686;
}

.list a:hover {
    color: #FB9700;
}
.sidebar{
    width: 200px;
    position: fixed;
    height: 100%;
    background-color: #f8f8f8;
    padding: 20px;
}



h2 {
    color: #064162;
    font-weight: 700;
    font-size: 40px;
}

.d-block {
    display: block;
}


.event-agenda-a {
    color: #F16C5D;
    text-decoration: underline;
    /*再找bs5連結，底線偏移*/
}

.event-seat {
    color: #868686;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    border-bottom: 1px solid #E4E4E4;
}

.event-seat li a {
    position: relative;/**/
    text-decoration: none;
    padding-bottom: 4px;
    line-height: 1.5;
    /*border-bottom: 3px solid transparent;*/
    /*滑過畫面會跳動，加上面那行空出空間，當hover時，畫面就不會跳動*/
}



.event-seat li a:hover {
    color: #F16C5D;
    font-weight: bold;
    box-shadow: 0px -3px #F16C5D inset;
    /*border-bottom: 3px solid #F16C5D;  */

}



.event-schedule {
    width: 996px;
    text-align: center;
    line-height: 1.5;
}

.event-schedule td a {
    display: block;
    text-decoration: underline;
}

.event-schedule td,
th {
    vertical-align: middle;
    padding: 12px 0px;
}

.event-schedule-time {
    color: #2c2c2c;
    border-right: 1px solid #E4E4E4;
}

.event-schedule-title-time {
    border-right: 1px solid #E4E4E4;
    width: 220px;
}

.event-schedule th {
    color: #5B5B5B;
    background: #F0F0F0;
}

.event-schedule-border {
    border-bottom: 1px solid #E4E4E4;
}

.event-schedule-issue {
    font-size: 20px;
    color: #5B5B5B;
    font-weight: 700;
    margin-bottom: 16px;
}

.event-schedule-issue span {
    font-size: 16px;
    font-weight: normal;
    padding-left: 8px;
}

.event-schedule-speaker {
    color: #868686;
    font-weight: 700;
    margin-bottom: 4px;
}

.info-display {
    /* 隱藏目標資訊 */
    display: none;
}

.info-display:target {
    display: block;
    /* 顯示目標資訊 */
}
.card{
    width: 50%;
}

.speaker-card-btn{
    color:#fff;
    background-color: #F16C5D;
    padding: 8px 30px;
    border: 1px solid #F16C5D;
    border-radius: 8px;

}
.speaker-card-btn:hover{
    background-color: hsla(6, 100%, 50%, 1)

}

.speaker-contri-btn {
    color: #ffffff;
    background-color: #F16C5D;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.speaker-contri-btn:hover {
    background-color:  hsla(6, 100%, 50%, 1);
}

.speaker-contri-seek li {
    list-style: disc;
    color: #F16C5D;
    font-size: 20px;
}

.speaker-contri-seek ul li::marker {
    /*可以更改ul li的點點大小或顏色*/
    font-size: 12px;
}

.speaker-contri-seek ul {
    padding-left: 20px;
}

.speaker-contri-seek {
    border: 2px solid #e4e4e4;
    border-radius: 12px;
}

.speaker-contri-agree {
    width: 996px;
    letter-spacing: 0.1px;
    color: #868686;
}

.speaker-contri-agree a {
    color: #3D8BB7;
    text-decoration: underline;
}

.speaker-info {
    width: 996px;
    background-color: #f8f8f8;
}

.speaker-info-title {
    font-size: 20px;
    font-weight: 700;
    color: #5b5b5b;
}

.speaker-info-title-border {
    border-bottom: 1px solid #D1D1D1;
}

.speaker-info-enter-box {
    width: 462px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    height: 46px;
    font-size: 20px;
    padding: 8px 12px;
    color: #A1A1A1;
}

.speaker-info-enter-bio-box {
    width: 948px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    height: 190px;
    font-size: 20px;
    padding: 8px 12px;
    color: #A1A1A1;
}

.speaker-info-enter-bio textarea {
    resize: none;
}

input::-webkit-input-placeholder {
    /* placeholder颜色 */
    color: #a1a1a1;
    /* placeholder字体大小 */
}
.category-item-width{
    width: 311px;
}
.langu-select{
    width: 462px;
    height: 46px;
    color: #A1A1A1;
    border-radius:8px;
    border: 1px solid #e0e0e0;
    font-size: 20px;
    padding: 8px 12px;

}
/*.language option:hover{
    border: 1px solid #f8f8f8;
    background-color: rgba(241, 249, 253, 1);
    

}*/
.authorize-width{
    width: 462px;
}



/*radio選項的設定*/



/*.radio-input{
    visibility: hidden;
}

*/
.radio-box{
    display: none;
}

.radio-box + label {
    position: relative;
    padding-left: 30px; /* 留出空間顯示圓形 */
    cursor: pointer;
    user-select: none; /* 禁止選取文字 */
}
.radio-box + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* 圓形的寬度 */
    height: 20px; /* 圓形的高度 */
    border: 1px solid #e4e4e4; /* 邊框顏色 */
    border-radius: 50%; /* 使其圓形 */
    background: #ffffff; /* 背景顏色 */
    
}

// .radio-box:checked + label::before {
//     background: #3D8BB7; /* 選中後的背景顏色 */
//     border-color: #3D8BB7; /* 選中後的邊框顏色 */
//     background-image: url('../assets/images/icon/check.png'); /* 引入打勾圖的路徑 */         
//     background-size:16px 16px; /* 圖片大小 */
//     background-repeat: no-repeat; /* 不重複 */
//     background-position: center; /* 圖片位置 */
//     filter: brightness(0) invert(1);
// }

.radio-box:checked + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* 圓形的寬度 */
    height: 20px; /* 圓形的高度 */
    background: #3D8BB7; /* 選中後的背景顏色 */
    border: 1px solid #3D8BB7; /* 選中後的邊框顏色 */
    border-radius: 50%; /* 使其圓形 */
}

.radio-box:checked + label::after {
    content: '';
    position: absolute;
    left: 3px; /* 根據需要調整位置 */
    top: 50%;
    transform: translateY(-50%);
    width: 14px; /* 圖片大小 */
    height: 14px; /* 圖片大小 */
    background-image: url('../assets/images/icon/check.png'); /* 打勾圖片 */
    background-size: cover; /* 調整為適合大小 */
    background-repeat: no-repeat; /* 不重複 */
    filter: brightness(0) invert(1); /* 將灰色變為白色 */
}
/*radio需要確認id跟for，id一頁只能有一個*/
.know-the-activity-method{
    display: flex; /* 使用 Flexbox */
    flex-direction: column; /* 垂直排列 */
    align-items: center; /* 垂直置中 */
    justify-content: center; /* 水平置中 */
    text-align: center; /* 文字置中 */
    height: 142px; /* 若需要可調整容器高度 */
}
.radio-know{
    display:none;
}
.radio-know + label{
    position: relative;
    padding-left: 30px;
    cursor:pointer;
    user-select: none;
}
.radio-know + label::before{
    content:'';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    background: #ffffff;
}
.radio-know:checked + label::before{
    background: #3d8bb7;
    border: 1px solid #3d8bb7;
}
.radio-know:checked + label::after{
    content:'';
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background-image: url('../assets/images/icon/check.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0) invert(1);

}
.final-check-btn-send{
    color: #ffffff;
    background-color: #F16C5D;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 8px 44px;
}
.final-check-btn-send:hover{
    background-color: hsla(6, 100%, 50%, 1);
    
}
.final-check-btn-cancel{
    color: #F16C5D;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #F16C5D;
    cursor: pointer;
    padding: 8px 44px;
}
.final-check-btn-cancel:hover{
    background-color: hsla(0, 0%, 95%, 1);
}
.sub-btn{ 
    background-color: #F16C5D;
    border:1px solid #F16C5D;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    padding: 8px 15px;
}
.sub-btn:hover{
    background-color:  hsla(6, 100%, 50%, 1);
    border-color: #F16C5D;
}
.cel-btn{
    background-color: #868686;
    border: 1px solid #868686;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 30px;
}
.cel-btn:hover{
    background-color:hsla(0, 0%, 40%, 1)
}


/*utilities*/

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-item-center {
    align-items: center;
}



.text-align-center{
    text-align: center;
}


/*顏色*/

.bg-f8 {
    background-color: #f8f8f8;
}

.bg-f {
    background-color: #fff;
}

.f-color-5B {
    color: #5B5B5B;
}

.f-color-86 {
    color: #868686;
}

.f-color-primary {
    color: #F16C5D;
}


/*字大小*/

.fz-4 {
    font-size: 16px;
}

.fz-5 {
    font-size: 20px;
}


/*m、p值*/

.mb-6 {
    margin-bottom: 24px;
}

.mt-6 {
    margin-top: 24px;
}

.mb-11 {
    margin-bottom: 80px;
}

.pb-11 {
    padding-bottom: 80px;
}

.pt-11 {
    padding-top: 80px;
}

.mt-11 {
    margin-top: 80px;
}

.mr-8 {
    margin-right: 40px;
}

.ml-8 {
    margin-left: 40px;
}

.mb-8 {
    margin-bottom: 40px;
}

.mt-8 {
    margin-top: 40px;
}

.mr-6 {
    margin-right: 24px;
}

.pl-2 {
    padding-left: 8px;
}
.pr-2{
    padding-right: 8px;
}

.pr-6 {
    padding-right: 24px;
}

.pl-6 {
    padding-left: 24px;
}

.pb-6 {
    padding-bottom: 24px;
}

.pt-6 {
    padding-top: 24px;
}

.pt-2 {
    padding-top: 8px;
}

.pb-2 {
    padding-bottom: 8px;
}

.pr-4 {
    padding-right: 16px;
}

.pl-4 {
    padding-left: 16px;
}

.pt-8 {
    padding-top: 40px;
}

.pb-8 {
    padding-bottom: 40px;
}

.pr-8 {
    padding-right: 40px;
}

.pl-8 {
    padding-left: 40px;
}
.pb-1{
    padding-bottom: 4px;
}


/*th td padding值 
.pt-3{
    padding-top: 12px;
}
.pb-3{
    padding-bottom: 12px;
}
*/


/**{
    outline: 1px solid black;
}*/