// /* header_navbar */
// .header {
//     background: #FFFFFF;
//     border-bottom: 1px solid var(--Neutral300);
// }
// /*.header-row{
// 	padding-left: -12px;
// 	padding-right: -12px;
// }*/
// .logo-deco {
//     max-width: 100%;
//     height: 102px;
//     padding: 17px 10.14px 11.83px 10.52px;
// }
// .list-deco {
//     width: 384px;
//     padding-top: 31px;
//     padding-bottom: 31px;
//     font-family: "Noto Sans TC";
// }
// .list-deco a {
//     padding-top: 10px;
//     padding-bottom: 16px;
//     font-family: "Noto Sans TC";
// }
// .list-deco a:hover {
//     border-bottom: 4px solid var(--Supportyellow600);
//     color: var(--Supportyellow600);
// }
// .nav-tools {
//     width: 352px;
//     height: 56px;
// }
// .tools-size {
//     width: 32px;
//     height: 32px;
// }
// .languageCH-btn {
//     padding: 8px 16px 8px 16px;
//     background: var(--secondary500);
//     color: var(--Neutral50);
//     font-family: "Noto Sans TC";
//     border: 1px solid #F16C5D;
//     border-top-left-radius: 8px;
//     border-bottom-left-radius: 8px;
// }
// .languageEN-btn {
//     padding: 8px 16px 8px 16px;
//     background: var(--Neutral50);
//     color: var(--Neutral700);
//     font-family: "Noto Sans TC";
//     border: 1px solid var(--Orange500, #FF735F);
//     border-top-right-radius: 8px;
//     border-bottom-right-radius: 8px;
// }
// .languageEN-btn:hover {
//     border: 1px solid #F16C5D;
//     background: var(--secondary500);
//     color: var(--Neutral50);
// }


/* member-options */

.member-row{
    padding-right: -12px;
    padding-left: -12px;
}

.options-deco{
    border-bottom: 1px solid;
}

.tab-link {
    padding-bottom: 4px;
    color: #868686;
}

.tab-link:focus{
    color: #F16C5D;
    border-bottom: 3px solid #F16C5D;
    cursor: pointer;
}

.myorder-title {
    line-height: 1.2;
}


/*memberOrder Info選單區塊1*/
.order-info-row {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-right: -12px;
    padding-left: -12px;
}

.order-info-col {
    padding: 24px 32px 0px 32px;
}

.info-list {
    padding-bottom: 40px;
    border-bottom: 1px solid #E4E4E4;
}


.info-list .table {
    border-collapse: collapse; /* 移除表格間距 */
    border-spacing: 0;
    margin: 0; /* 清除表格周圍的預設 margin */
  }

.info-list .table th, 
.info-list .table td {
    padding:8px; /* 調整內邊距 */
    text-align: left;
    background-color: transparent; /* 移除背景顏色 */
    font-size: inherit; /* 移除 th 和 td 的字體大小設置 */
    color: inherit;     /* 移除 th 和 td 的字體顏色設置 */
  }

.info-list .table th {
    font-weight: normal; 
  }

  /*memberOrder Info選單區塊2*/

.Con-Vision-pic {
    width: 306px;
    height: auto;
}

  /*memberOrder Info選單btn區塊3*/
.info-conbtn {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E4E4E4;
}

.btn-primary {
    display: inline-block;
    cursor: pointer;
    width: 148px;
    padding: 8px 16px;
    border-radius: 8px;
}


  /*訂單展開詳細的內容｜info-finaldes區塊1*/
.info-finaldesc-col {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.info-final-pic{
    width: 26.67px;
    height: 26.67px;
}

.info-finaldesc-title {
    margin-left: 8px;
    color: #3D8BB7;
}

/*訂單展開詳細的內容｜info-finaldes .table區塊2*/
.info-desctable .table {
    border-collapse: collapse; /* 移除表格間距 */
    border-spacing: 0;
    margin: 0; /* 清除表格周圍的預設 margin */
  }

.info-desctable .table th, 
.info-desctable .table td {
    padding:8px; /* 調整內邊距 */
    text-align: center;
    background-color: transparent; /* 移除背景顏色 */
    font-size: inherit; /* 移除 th 和 td 的字體大小設置 */
    color: inherit;     /* 移除 th 和 td 的字體顏色設置 */
  }

.info-desctable .table th {
    font-weight: normal; 
  }

.info-desctable-headthrow1 {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
}

.info-desctable-headthrow2 {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #5B5B5B;
    border-left: 1px solid #E4E4E4;
}

.desctable {
    width: 494px;
    border-bottom: 1px solid #E4E4E4
}

.info-desc-tabletext {
    background: #FFFFFF;
    border-bottom: 1px solid #E4E4E4
}

.info-desctable-pic {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 24px;
}

.info-desctable-title {
    color: #5B5B5B;
}

.info-desctable-text {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 184.5px;
    color: #5B5B5B;
    background: #FFFFFF;
    text-align: center;
    align-items: center;
}

.price-deco h5 {
    color: #F16C5D;
}

.info-desctable-price {
    text-decoration: line-through;
}

.info-desctable-pricetitle {
    text-align: right;
    color: #3D8BB7;
    padding-top: 20px;
    padding-right: 40px;
    background: #FFFFFF;
    border-top: 1px solid #E4E4E4;
}

/*訂單展開詳細的內容｜info-finaldes-訂單人資訊區塊3*/
.order-info-con{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.btn-order{
    border-radius: 8px;
    padding: 8px 16px;
    border: 1px solid #F16C5D;
    color: #F16C5D;
    cursor: pointer;
}

.btn-order .btn-secondary:hover {
 border: 1px solid #F16C5D;
 background: #F16C5D; 
 color: #fff;
}

.info-list .table {
    border-collapse: collapse; /* 移除表格間距 */
    border-spacing: 0;
    margin: 0; /* 清除表格周圍的預設 margin */
  }

.info-list .table th, 
.info-list .table td {
    padding:8px; /* 調整內邊距 */
    text-align: left;
    background-color: transparent; /* 移除背景顏色 */
    font-size: inherit; /* 移除 th 和 td 的字體大小設置 */
    color: inherit;     /* 移除 th 和 td 的字體顏色設置 */
  }

.info-list .table th {
    font-weight: normal; 
  }