// font

@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Noto+Sans+TC:wght@100..900&display=swap');

// base

body{
  font-family: "Noto Sans TC", sans-serif;
}


// utilities

.lh-one-half {
  line-height: 1.5;
}

.display-inline-block{
  display: inline-block;
}

.m0-auto{
  margin: 0 auto;
}

.mt-20 {
  margin-top: 80px;
}

.mb-0{
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mr-2{
  margin-right: 8px;
}

.pb-8{
  padding-bottom: 32px;
}

.fs-8{
  font-size: 32px;
}



// pages

.banner {
  height: 680px;
  background: url(/assets/images/banner7.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card{
  border-radius: 16px;
  border: 1px solid #E4E4E4;
}

.card-img-top {
  width: 160px;
  margin: 0 auto;
}

.price-text {
  display: inline-block;
}

.check-list{
  list-style: none;
  padding: 16px 0 16px 24px;
  margin-bottom: 0;
}

.check {
  filter: opacity(0.4) drop-shadow(0 0 0 #3D8BB7);
  width: 16px;
  display: inline-block;
}

.check-filter{
  filter: opacity(0.4) drop-shadow(0 0 0 #D1D1D1);
  width: 16px;
  display: inline-block;
}

.w-279{
  width: 279px;
  margin: 0 auto;
}

.cart-btn{
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
}

.close-btn{
  padding: 8px 24px 8px 24px;
  border-radius: 8px;
  pointer-events: none;
}

.close-btn h6{
  font-weight: normal;
}

.cart-btn h6{
  font-weight: normal;
}

.cart-text{
  margin-bottom: 0;
}

.card-footer{
  padding: 24px 0 40px;
  border: 0;
}

.border-btn{
  border: 1px solid #F16C5D;
}