<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <title>index</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <main>
            <section class="banner">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="../assets/images/banner1-pc.png" alt="Slide 1"></div>
                        <div class="swiper-slide"><img src="../assets/images/banner2-pc.png" alt="Slide 2"></div>
                        <div class="swiper-slide"><img src="../assets/images/banner3-pc.png" alt="Slide 3"></div>
                        <div class="swiper-slide"><img src="../assets/images/banner5-pc.png" alt="Slide 3"></div>
                        <div class="swiper-slide"><img src="../assets/images/banner6-pc.png" alt="Slide 3"></div>

                    </div>
                    <!-- 分頁點的容器 -->
                    <div class="swiper-pagination"></div>
                </div>
            </section>
            <section class="about">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-5 col-md-12">
                            <div class="about-intro">
                                <div class="index-title d-flex">
                                    <div class="me-lg-2">
                                        <img src="../assets/images/icon/arrow-right-index-title.png" alt="arrow-right">
                                    </div>
                                    <p class="text-primary-300 fs-5">關於資咖購 SecConGo</p>
                                </div>
                                <div class="about-intro-title mb-11 position-relative">
                                    <div class="about-background-text position-absolute  ">ABOUT</div>
                                    <h1 class="fw-bold text-primary-500 ">資安科技之旅，暢享全程</h1>
                                </div>
                                <div class="about-intro-content">
                                    <p class="fs-5 text-neutral-800 mb-6">
                                        智慧聯網時代已經來臨，資安議題越來越受到關注。隨著網絡攻擊事件頻繁發生，企業面臨的勒索軟體威脅和資料外洩問題日益嚴峻，全球對資訊安全的需求持續增加。如何有效應對這些資安風險，成為當前的關鍵挑戰。
                                    </p>
                                    <p class="fs-5 text-neutral-800">
                                        <span class="text-primary-500 fw-bold fs-5">資咖購SecConGo</span> 提供一站式的資安會議購票體驗，讓參與者輕鬆掌握最新的國際資安趨勢，暢享全程。這不僅是場會議,更是一個鏈結全球資安專家與國內企業的重要平台，為企業提供符合國際標準的資安解決方案，助力企業增強數位韌性，提升永續發展能力。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="about-img col-lg-6 col-md-12 ms-lg-6">
                            <img src="../assets/images/Frame 312.png" alt="about" class="">
                        </div>
                    </div>
                </div>
            </section>
            <section class="information bg-primary-500">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-6 ">
                            <div class="card text-white position-relative border-0">
                                <img src="../assets/images/Frame 308.png" class="card-img" alt="...">
                                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                                    <h5 class="card-title">最新消息</h5>
                                    <p class="card-text">我們將定期更新最新的議程、講師陣容及重要活動資訊， <br>隨時掌握資安會議的最新動態！
                                    </p>
                                    <div class="position-absolute card-btn">
                                        <a href="#" class="btn text-support-yellow-500 position-relative">瞭解更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card text-white position-relative border-0">
                                <img src="../assets/images/Frame 309.png" class="card-img" alt="...">
                                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                                    <h5 class="card-title">活動議程</h5>
                                    <p class="card-text">歡迎一起共襄盛舉參與我們於10月20日<br>在台北文創六欞舉辦的資咖購會議活動</p>
                                    <div class="position-absolute card-btn">
                                        <a href="#" class="btn text-support-yellow-500 position-relative">瞭解更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card text-white position-relative border-0">
                                <img src="../assets/images/Frame 310.png" class="card-img" alt="...">
                                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                                    <h5 class="card-title">售票資訊</h5>
                                    <p class="card-text">選擇適合您的票種，<br>放鬆享受這場會議為您帶來的收穫與交流體驗</p>
                                    <div class="position-absolute card-btn">
                                        <a href="#" class="btn text-support-yellow-500 position-relative">瞭解更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card text-white position-relative border-0">
                                <img src="../assets/images/Frame 311.png" class="card-img" alt="...">
                                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                                    <h5 class="card-title">加入我們</h5>
                                    <p class="card-text">成為 SecConGo 會員，<br>優先獲取最新會議消息與通知，同時解鎖專屬福利</p>
                                    <div class="position-absolute card-btn">
                                        <a href="#" class="btn text-support-yellow-500 position-relative">瞭解更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="chairperson">
                <div class="container">
                    <div class="card border-0 mb-8">
                        <div class="row">
                            <div class="col-lg-4"><img src="../assets/images/Frame 296.png" alt="chairperson1"></div>
                            <div class="col-lg-8">
                                <div class="card-body bg-neutral-100 pt-8 pb-8">
                                    <h5 class="card-title">John Richardson</h5>
                                    <p class="card-text">在資安領域擁有超過20年經驗的專家。<br>他曾領導多個全球性資安專案，並在國際會議中多次發表演講。
                                    </p>
                                    <p class="card-text">John 的專長涵蓋威脅情報、網絡防護架構設計和企業安全策略制定。<br>他致力於推動全球資安標準的發展，並且為行業內的創新解決方案提支持與指導。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="row flex-row-reverse">
                            <div class="col-lg-4"><img src="../assets/images/Frame 283.png" alt="chairperson1"></div>
                            <div class="col-lg-8">
                                <div class="card-body ">
                                    <h5 class="card-title">Maria Gonzalez</h5>
                                    <p class="card-text">在業界擁有豐富的管理和技術經驗。<br>她曾在多家跨國企業擔任資安顧問，協助制定和實施全面的資安策略。
                                    </p>
                                    <p class="card-text">Maria 是數據隱私與保護方面的專家，她積極參與國際標準的制定，並定期在知名資安刊物上發表文章。她的使命是通過促進國際合作來提升全球網絡安全的整體水平。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include('./layout/footer'); -%>
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            <script type="module" src="../main.js"></script>
</body>

</html>