<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ticket</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
        <main>
            <section class="banner">
            </section>
            <section>
              <div class="container">
                <div class="mt-20 mb-8">
                  <h1 class="text-primary-500 fw-bold mb-6">大會資訊</h1>
                  <h5 class="lh-one-half mb-4">活動日期：2024 年 10 月 20 日 09:00 ~ 17:00  (08:30 開始報到)</h5>
                  <h5 class="lh-one-half mb-4">活動地點：台北文創大樓 6 樓 (110 台北市信義區菸廠路 88 號)</h5>
                  <h5 class="lh-one-half">參加方式：預先購票</h5>
                </div>
              </div>
            </section>
            <section>
              <div class="container">
                <div class="mt-20 mb-8">
                  <h1 class="text-primary-500 fw-bold mb-6">購票方案</h1>
                  <h5 class="lh-one-half mb-6 text-neutral-800">Full Pass 從早鳥票、一般票，到國際組織票，Business Pass 票、媒體採訪 Media Pass 票，您可以根據自身需要選擇票種</h5>
                </div>
              </div>
            </section>
            <section class="container">
              <div class="row row-cols-1 row-cols-md-3 g-6">
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body text-center w-279 mt-2 mb-2">
                      <img src="/assets/images/ticket icon.png" class="card-img-top" alt="ticket icon">
                      <h2 class="card-title fw-bold text-neutral-800">Full Pass 早鳥</h2>
                      <p class="card-text"><h5 class="price-text lh-one-half text-secondary-500 mr-2">NT.</h5><h2 class="price-text fw-bold text-secondary-500 mr-2">2,400</h2><h5 class="price-text lh-one-half text-secondary-500">/張</h5></p>
                    </div>
                    <div class="w-279">
                      <ul class="check-list bg-neutral-100">
                        <li>
                          <img class="check" src="/assets/images/icon/check.png" alt="check">
                          <h6 class="text-neutral-800 lh-one-half display-inline-block">限定早鳥報名禮</h6>
                        </li>
                        <li>
                          <img class="check" src="/assets/images/icon/check.png" alt="check">
                          <h6 class="text-neutral-800 lh-one-half display-inline-block">大會特製紀念品</h6>
                        </li>
                        <li>
                          <img class="check" src="/assets/images/icon/check.png" alt="check">
                          <h6 class="text-neutral-800 lh-one-half display-inline-block">午餐與餐點</h6>
                        </li>
                        <li>
                          <img class="check" src="/assets/images/icon/check.png" alt="check">
                          <h6 class="text-neutral-800 lh-one-half display-inline-block">抽獎資格</h6>
                        </li>
                        <li>
                          <img class="check" src="/assets/images/icon/check.png" alt="check">
                          <h6 class="text-neutral-800 lh-one-half display-inline-block">講師授權可公開的簡報檔</h6>
                        </li>
                        <li>
                          <img class="check" src="/assets/images/icon/check.png" alt="check">
                          <h6 class="text-neutral-800 lh-one-half display-inline-block">講師授權可公開的簡報檔</h6>
                        </li>
                        <li>
                          <img class="check" src="/assets/images/icon/check.png" alt="check">
                          <h6 class="text-neutral-800 lh-one-half display-inline-block">全程參與 SecConGo TW 2024</h6>
                        </li>
                      </ul>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body text-center">
                    <img src="/assets/images/ticket icon-5.png" class="card-img-top" alt="...">
                      <h2 class="card-title">Card title</h2>
                      <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body text-center">
                    <img src="/assets/images/ticket icon-4.png" class="card-img-top" alt="...">
                      <h2 class="card-title">Card title</h2>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
              </div>
            </section>
        </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
